* {
    margin: 0:
}

img {
    width: 5%;
}

nav {
    background-color: rgb(232, 150, 191);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align_items: center;
}

nav li {
    padding: 10px;
}